attrs==21.2.0
Babel==2.9.1
bitarray==2.3.4
certifi==2021.10.8
chardet==4.0.0
docutils==0.18
idna==3.3
imagesize==1.2.0
importlib-metadata==4.8.1
Jinja2==3.0.2
MarkupSafe==2.0.1
more-itertools==8.10.0
packaging==21.0
pluggy==1.0.0
py==1.10.0
pybloom-live==3.1.0
Pygments==2.10.0
pyparsing==3.0.3
pytest==6.2.5
pytz==2021.3
recommonmark==0.7.1
requests==2.26.0
six==1.16.0
snowballstemmer==2.1.0
sortedcontainers==2.4.0
urllib3==1.26.7
wcwidth==0.2.5
zipp==3.6.0
